API_KEY=your_api_key
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=your_google_tag_manager_id
NEXT_PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id
NEXT_PUBLIC_SANITY_DATASET=your_sanity_dataset
SANITY_REVALIDATE_SECRET=your_sanity_revalidate_secret
